*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #F9FBFC;
}

hr{
    border-top: 1px solid;
}

.alertingdivbg{
    position: fixed; !important;
    width: 200%; height: 200%; !important;
    padding-top: 20%;
    background-color: rgba(0, 0, 0, 0.47);
    padding-left: 45%;
    top:0; right:0;
    bottom:0; left:0;
    font-family: 'Lato', sans-serif, bold ;
}

body .alertingdiv{
    background-color: white;
    padding-top: 2.5%;
    width: 16%;
    height: 18%;
    border: 15px;
    align-items: center;
    align-content: center;
    text-align: center;


 }

#contenedor .alertingdiv span {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: large;

}
header, nav, section, aside, footer{
    display: block;
}

.clear{
    clear:both;
}

#contenedor{
    width: 960px;
    margin: 0px 15% 0 15%;
    position:relative;
    text-align:left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
}

/*=====================================
	Manejo del header
=======================================*/

header{
    width: 960px;
    height:100px;
    color: #F9FBFC;
    background-color: #B107F0;
}

#logotipo{
    position: relative;
    margin:0;
}

#logotipo img{
    float: left;
    padding: 15px 0 0 15px;
    width: 8%;
}



#logotipo span{
    margin: 40px 0 0 10px;
    float: left;
    font-family: 'Spectral SC', serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

nav{
    font-size: 14pt;
    font-family: 'Lora', serif;
    background-color: #07E7F0;
    width: 960px;
    text-align: center;
}

nav ul{
    /*
    position: absolute;
    */
    margin: 0 15px 0 0;
    overflow: hidden;
    list-style:none outside none;
    top: 40px;
    right: 150px;
}

nav ul li{
    /*
    border-right: 1px solid;
     */
    display: inline;
    margin: 0 10px;
    padding: 0 10px;
    /*
    float: left;
     */
    text-align: center;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    padding: 14px 16px;
}

nav ul li a:hover{
    color:#000000;
}

header #perfil{
    width: 150px;
    /*
    position: absolute;
     */
    float: right;
    top: 15px;
    margin-top: 15px;

}

header #perfil img{
    width: 20%;
}

header #perfil a{
    cursor: pointer;
}
header #perfil #nombre_usuario{
    color: #FCEA90;
    text-align: left;
}


/*=====================================
	Manejo del contenido
=======================================*/

section #presentacion{
    width: 960px;
    margin-top: 10px;
    text-align: center;
}

section #ofertas{
    width: 930px;
    height: 610px;
    border: 3px solid #56A7A7;
    margin:20px;
    padding-bottom: 10px;
    text-align: center;
}

section #presentacion video{
    width: 600px;
    height: 300px;
}

section #ofertas ul{
    margin-top: 10px;
    list-style: none;
}

section #ofertas ul li{
    width: 300px;
    float: left;
    padding: 20px;
}

#ofertas ul li img{
    float: left;
    width:120px;
    height: 100px;
}

#ofertas ul li #title_oferta{
    font-weight: bold;
    width: 50px;
    float: left;
}

#ofertas ul li #valoracion{
    width: 50px;
    float: left;
}

#ofertas ul li #precio{
    font-size: 12pt;
    width: 85px;
    float: left;
}


#ofertas input[type=button]{
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

/*
#ofertas input[type=button]:hover{
    border: 2px solid lightcoral;
}*/

#ofertas input[type=button]:focus{
    outline: none;
    border: 2px solid lightcoral;
}



#content_login{
    text-align: center;
    width: 960px;
}

#content_login a:visited{
    color: cornflowerblue;
}

#form_login table{
    margin: 0 auto;
    padding: 0;
    height: 250px;
}

#form_login input, #form_signup input{
    margin: 10px auto;
    width: 200px;
    height: 30px;
    border-style:solid;
    border-radius: 4px;

}



#form_login input:focus, #form_signup input:focus{
    border-color: cornflowerblue;
}


#button_login {
    margin: 0;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    background-color: #008CBA;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#button_signup{
    border: none;
    color: white;
    border-radius: 4px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#login_registrarse{
    padding-bottom: 5px;
    width: 100px;
    height: 100px;
}


#login{
    width: 500px;
    height: 330px;
    margin:0 230px;
}

#validacion_login{
    height: 30px;
    color: red;
}

#signup{
    width: 500px;
    height: 500px;
    margin:0 230px;
}

/*============Perfil===============*/


#content_profile{
    text-align: center;
    width: 960px;
}
#content_prod{
    text-align: center;
    width: 960px;
}

#form_profile table{
    margin: 0 auto;
    padding: 0;
    height: 400px;
}

#logout{
    height: 45px;
}


#button_update{
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#button_update_password{
    margin: 0;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#button_logout{
    float: right;
    margin-right: 40px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#f44336;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#validacion_update{
    height: 30px;
    color: red;
}


/*======Productos=============*/
#prod-lateral { float: left; width: 17%; }


#prod-portada{
    padding:10px;
}
#prod-contenido { float: right; width: 78%; }
#prod-contenido #descripcion-libro { float: left; width: 75%; }
#prod-contenido #banner { float: right; width: 25%; }

div.prod-stars {
    padding: 7px;
    width: 100%;
    display: inline-block;
    align-content: left;
}

input.prod-star { display: none; }

label.prod-star {
    align-content: right;
    font-size: 30px;
    color: #444;
    transition: all .2s;
}
div.prod-bookart{
    float: right;
}

input.prod-star:checked + label.prod-star:before {
    content: '☆';
    color: cornflowerblue;
    transition: all .25s;
}

input.prod-star-5:checked + label.prod-star:before {
    color: #ffe513;
    text-shadow: 0 0 20px #952;
}

input.prod-star-1:checked + label.prod-star:before { color: #F62; }

label.prod-star:before {
    content:  '☆';
}

#prod-detalle{
    horiz-align: center;
    align-content: center;
}

#isbn{
padding-left: 150px;
}
#isbn td{
    border: ridge;
    border-width: 2px;
}

#prod-payment, #content_pago{
    font-size: large;
    font-weight: bold;
    font-family: "Verdana";
}
#content_pago{
    width:960px;
}
#pago-contenido{
    padding: 10px;
    width:  100%;
    float: left;
}
#prod-precio{
    color: red;
}
#addr-pago{
    width: 100%;
    line-height: 4;
    text-align: start;
}


#prod-cart-button{
    font-size: larger;
    background-color: black;

    color: white;
    padding: 0px 25px 0px 25px;
}

#comprar{
    font-size: larger;
    background-color: black;

    color: white;
    padding: 0px 25px 0px 25px;
}

#formas-de-envio{
    padding-right: 100px;
    font-size: 30px;
    text-align: justify;
}

#formas-de-envio input[type=radio]{

    height: 30px;
    border-style:solid;
    border-radius: 4px;
}

#pago-cobro input[type=number]{
    width: 100%;
}
#form-pago input[type=text]{
    width: 100%;
}

#content_pago input{

    height: 30px;
    border-style:solid;
    border-radius: 4px;
}

#total-calc{
    width:  80%;
}

#total-line{
    border-top: 1pt solid black;

}
#content_pago select{

    height: 30px;
    border-style:solid;
    border-radius: 4px;
    max-width: 40%;
}
#pago-contenido #direccion-envio { float: left; width: 45%; }
#pago-contenido #formas-de-envio { float: right; width: 35%; }


#cobro-contenido{
    padding-top: 200px;
    padding-bottom: 100px;
    float: left;
    width: 100%;
}

#cobro-contenido #pago-cobro { float: left; width: 45%; }
#cobro-contenido #total-cobro { float: right; width: 35%; }

/*==============About==========*/
.about{
    margin: 1em;
    width: 80%;
}

article p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 100%;
}

#map {
    height: 400px;
    width: 100%;
}

/*==============shoppinglist==========*/



.shopping_cart{
    margin-top: 15px;
}

table.shopping_cart{
    width: 80%;
    border-spacing: 0;
    border-collapse:collapse;
    border-top: 1px solid #ddd;
}

.shopping_cart th, .shopping_cart td{
    padding: .5em 1em;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.shopping_cart th{
    color: #939B93;
    padding: 0 10px 0 10px;
}

.shopping_cart td{
    padding: 2px;
}

.shopping_cart tr:hover{
    background-color: #f5f5f5
}

.shopping_cart tr:nth-child(even){
    background-color: #f2f2f2
}

#contenido p{
    margin: 15px;
    font-size: 22px;
    vertical-align: text-bottom;

}

#cost_total{
    color: #fc5c3c;
}

#cart_actions{
    list-style-type: none;
    margin: 15px;
}

#cart_actions input{
    position: relative;
}

#cart_actions a{
    color: #192666;
    padding: 15px;
}

#cart_actions a:hover{
    color: #4F6AD7;
}

#cart_actions .btn{
    padding: 0;
}

#cart_actions input{
    margin: 0.25em;
    border: none;
    color: white;
    height: 1.25em;
    width: 135px;
    border-radius: 4px;
    background-color: #008CBA;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#cart_actions a input{
    font-size: 30px;
    margin: 0.25em;
}



/*=====================================
	Manejo del footer
=======================================*/
#pie { clear: both; }

footer{
    width: 960px;
    height: 90px;
    color: #000000;
    text-align: left;
    font-size: 14pt;
    background-color: #07E7F0;
   margin-bottom: 30px;
}


#social{
    width: 960px;
    margin:10px;
}

#social ul{
    padding:0;
    list-style:none;
}

#social ul li {
    float: left;
    padding:0 0 0 5px;
}

#derechos{
    float: left;
    width: 960px;
    margin: 0 30px 0 10px;
    padding: 0 30px 0 0;
}

